.a-5 {
    font-size: 5px;
  }
  .a-12 {
    font-size: 12px;
  }
  .a-13{
    font-size: 13px;
  }
.background-image{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.jjwATAzF7lQB5rEwqxwKugHaEK&pid=Api&P=0&w=269&h=152");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-violet{
    background-color: blueviolet;
}